@using Web.Models
@{
    ViewData["Title"] = "Home Page";
}

@model TorrentViewModel
<head>
    <link rel="stylesheet" href="~/wwwroot/css/site.css">
    <script src="https://kit.fontawesome.com/5602962e66.js"></script>
</head>
<body>

    @if (Model.torrents.Any())
    {
        @if (!string.IsNullOrEmpty(Model.SearchString))
        {
            <div class="message">
                Результат  поиска "@Model.SearchString"

            </div>
        }
        <div class="text-center">
            <h1 class="display-4">Table Torrents</h1>
            <table class="table">
                <tr>
                    <td> ID
                    <td>Название
                    <td>Дата Регистрации</td>
                </tr>
                @foreach (var i in Model.torrents)
                {
                    <tr>
                        <td><a href="../Content/@i.TorrentId" />@i.Id</td>
                        <td><a href="../Content/@i.TorrentId" /> @i.Title</td>
                        <td>@i.RegistredAt</td>
                    </tr>
                }
            </table>

            @if (Model.PageInfo.HasPreviousPage)
            {
                <a asp-action="Index"
                   asp-route-page="@(Model.PageInfo.PageNumber - 1)"
                   asp-route-s="@Model.SearchString"
                   class="btn btn-default btn">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Назад
                </a>
            }
            @if (Model.PageInfo.HasNextPage)
            {
                <a asp-action="Index"
                   asp-route-page="@(Model.PageInfo.PageNumber + 1)"
                   asp-route-s="@Model.SearchString"
                   class="btn btn-default btn">
                    Вперед
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            }
            
        </div>
    }
    else
    {
        <div>Увы, ничего не найдено</div>
        <input class="back_button" type="button" value=" Назад" onClick='history.go(-1)'>
    }
</body>


