@using TorrentsWebApp.Helpers
@using ApplicationCore.Entities


@model TorrentDescriptionViewModel
@{
    ViewData["Title"] = "Content";
}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>
<body>
    <div class="content">
        <h1>Content</h1>
        @*<p>@Html.SourceStr(Model.Forum.Value, "1" )</p>*@

        <a href="../Forums/@Model.ForumId"> @Model.Forums</a>
        <h1>@Model.Title</h1>
        <a>@Html.Raw(Model.Content)</a>

        <h1>@Model.Dir</h1>
        @Html.CreateList(Model.Files.ToArray())

        @*<p>@Html.Raw(Model)</p>*@

        <input class="back_button" type="button" value="Назад" onClick='history.go(-1)'>
    </div>

</body>
